nav {
    background-color: #111;
    box-shadow: #111;
    box-shadow: 1px 1px 10px 1px #888888;
}

.container-fluid {
    width: 70%;
    padding: 15px;
    position: relative;
}

.navbar-toggler {
    position: absolute;
    right: 20px;
}

/* .navbar-brand {
    margin-left: 50%;
} */


.header-menu {
    position: absolute;
    right: 10%;
    align-items: center;
    padding-top: 20px;
}

.header-signup {
    padding: 10px 20px;
    width: 200px;
    background-color: #516cf0;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-weight: 700;
    margin-left: 30px;
}

.navbar-collapse>ul>li {
    margin: 5px;
}

.s-btn__filled{
    border-radius: 20%;
    background-color: lawngreen;
    margin-left: 20px;
}




/* ************logout*********** */

.bn632-hover {
    width: 160px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    margin: 20px;
    height: 55px;
    text-align: center;
    border: none;
    background-size: 300% 100%;
    border-radius: 50px;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.bn632-hover:hover {
    background-position: 100% 0;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.bn632-hover:focus {
    outline: none;
}

.bn632-hover.bn26 {
    background-image: linear-gradient(to right,
            #516cf0,
            #4481eb,
            #04befe,
            #3f86ed);
    box-shadow: 0 4px 15px 0 rgba(65, 132, 234, 0.75);
}

